.metadata
*.tmp
*.bak
*.old
tmp/**/*
*.swp
*~.nib
Thumbs.db
Desktop.ini
*~
*.apk
bin
gen
local.properties
classes/
*.iws
*.iml
*.ipr
target/
out/
.idea/
.DS_Store
proguard_logs/
.gradle/
build/
senz/build/
