<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.score.senz"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- To boot complete broadcast receiver -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- External storage for caching -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Use to get the phone no -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Use to read contact list -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".application.SenzApplication"
        android:icon="@drawable/senz_logo"
        android:label="@string/app_name">

        <!-- production key -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="AIzaSyDQBL4MsO4B5qpA3VvX3HtRCQG2I09p7t0" /> -->


        <!-- debug key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAzW1LOJz7zGeKTohFwzmRPDtb1yqt0bC8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.LaunchActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Yello" />
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CountryListActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Yello"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.RegistrationActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name=".ui.SenzMapActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Yello"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.SenzSwitchBoardActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Yello"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Yello"
            android:windowSoftInputMode="stateHidden"></activity>

        <service
            android:name=".services.GpsReadingService"
            android:enabled="true"></service>
        <service
            android:name=".services.LocationService"
            android:enabled="true"></service>
        <service
            android:name=".services.RemoteSenzService"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.score.senz.services.RemoteSenzService" />
            </intent-filter>
        </service>

        <receiver android:name=".receivers.BootCompleteReceiver">
            <intent-filter>
                <action android:name="com.score.senz.senzservice" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.SenzReceiver">
            <intent-filter>
                <action android:name="com.score.senz.NEW_SENZ" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.AlarmReceiver"
            android:process=":remote">
        </receiver>

    </application>

</manifest>
